@import "settings";

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  max-width: 1170px;
  flex-basis: 90%;
}

.header{
  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &-logo {
    width: 200px;
  }
  &-bottom {
    display: flex;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    &__widget {
      padding: 5px 30px;
      font-size: 30px;
      font-weight: normal;
      cursor: pointer;
      transition: background-color .2s ease-out;
      border-radius: 5px;
      &:hover {
        background-color: $light-green;
      }
    }
  }
}

.footer {
  font-family: sans-serif;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  &__date {
    font-weight: bold;
    margin: 0;
  }
  &__text {
    font-weight: normal;
  }
}

.search {
  flex-basis: 75%;
  justify-self: right;
  font-size: 20px;
  align-self: center;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $light-green;
  padding: 40px 0;
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.roll {
  position: relative;
  flex-basis: 49%;
  min-width: 520px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: $white;
  border-radius: 5px;
  &:nth-child(odd) {
    margin-right: 10px;
  }
  &:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  &-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  &__header {
    height: 60px;
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
  }
  &__image {
    flex-shrink: 0;
    width: 300px;
    height: 220px;
    overflow: hidden;
    object-fit: cover;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    &--warning {
      font-size: 30px;
      text-align: center;
      padding: 20px 5px;
    }
  }
  &-recipe {
    display: flex;
    align-content: flex-start;
    flex-grow: 1;
    min-width: 220px;
    &__wrapper {
      display: flex;
      height: 80px;
      &--inside {
        flex-wrap: wrap;
      }
    }
  }
  &-ingredient {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    &__circle {
      margin-right: 5px;
      width: 40px;
      height: 40px;
      &--wrapper {
        position: relative;
      }
      &--line {
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        width: 40px;
        height: 3px;
        background-color: $dark;
        transform: translateY(-50%);
      }
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
  }
  &__price {
    margin: 0 0 0 10px;
    font-size: 30px;
    font-weight: bold;
  }
  &__weight {
    width: 81px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $dark;
    color: $white;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    padding: 5px 10px;
    border-top-left-radius: 5px;
  }
}

.set {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-basis: 100%;
  &-line {
    z-index: 10;
    background-color: $dark;
    width: 100%;
    height: 10px;
    cursor: pointer;
    border: none;
    &__bottom {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  &-top {
    z-index: 10;
    background-color: $white;
    border-radius: 5px;
    height: 240px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  &-bottom {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height .2s ease-out;
    &-wrapper {
    }
  }
  &-rolls {
    z-index: 1;
    position: absolute;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &-wall {
    transition: all .2s ease-out;
    z-index: 5;
    background-color: $light-green;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@import "media";