@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #2e2e33;
  margin: 0;
}

.color--green {
  color: #53BB51;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  z-index: 200;
  max-width: 1170px;
  flex-basis: 90%;
}

.header {
  margin-top: 10px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.header-logo {
  width: 200px;
}
.header-bottom {
  display: flex;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.header-bottom__link {
  margin-right: 5px;
  padding: 5px 30px;
  font-size: 30px;
  font-weight: normal;
  transition: background-color 0.2s ease-out;
  text-decoration: none;
  color: inherit;
}
.header-bottom__link--active {
  background-color: #f6fbf6;
}
.header-bottom__link:hover {
  background-color: #f6fbf6;
}

.footer {
  background-color: white;
  z-index: 100;
  font-family: sans-serif;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
}
.footer__date {
  font-weight: bold;
  margin: 0;
}
.footer__text {
  font-weight: normal;
}

.search {
  flex-basis: 75%;
  justify-self: right;
  align-self: center;
}
.search__input {
  font-size: 20px;
}

.buy-button {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
  background-color: #2e2e33;
  color: white;
  border: none;
  border-top-left-radius: 5px;
  margin-left: auto;
  margin-bottom: 0;
  padding: 5px;
  height: 40px;
  align-self: flex-end;
  cursor: pointer;
}

.weight {
  z-index: 100;
  height: 40px;
  position: absolute;
  top: 180px;
  right: 0;
  background-color: #2e2e33;
  color: white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  padding: 5px 10px;
  border-top-left-radius: 5px;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6fbf6;
  padding: 40px 0;
}
.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.roll {
  position: relative;
  flex-basis: 49%;
  min-width: 520px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
}
.roll:nth-child(odd) {
  margin-right: 10px;
}
.roll:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.roll-wrapper {
  width: 100%;
  padding: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
}
.roll__header {
  height: 60px;
  margin: 0 0 10px;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}
.roll__image {
  flex-shrink: 0;
  width: 300px;
  height: 220px;
  overflow: hidden;
  object-fit: cover;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.roll__image--warning {
  font-size: 30px;
  text-align: center;
  padding: 20px 5px;
}
.roll-recipe {
  display: flex;
  align-content: flex-start;
  flex-grow: 1;
  min-width: 220px;
}
.roll-recipe__wrapper {
  display: flex;
  height: 80px;
}
.roll-recipe__wrapper--inside {
  flex-wrap: wrap;
}
.roll-ingredient {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.roll-ingredient__circle {
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
.roll-ingredient__circle--wrapper {
  position: relative;
}
.roll-ingredient__circle--line {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  width: 40px;
  height: 3px;
  background-color: #2e2e33;
  transform: translateY(-50%);
}
.roll-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.roll-bottom-wrapper {
  display: flex;
  margin-bottom: 10px;
}
.roll__price {
  margin: 0 0 0 10px;
  font-size: 30px;
  font-weight: bold;
}
.roll__weight {
  width: 81px;
  top: 170px;
}
.roll-line {
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.set {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-basis: 100%;
  cursor: pointer;
}
.set-line {
  z-index: 1000;
  background-color: #2e2e33;
  width: 100%;
  height: 10px;
  border: none;
}
.set-line__bottom {
  cursor: pointer;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.set-top {
  z-index: 10;
  background-color: white;
  border-radius: 3px;
  height: 220px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.set-bottom {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.set-rolls {
  z-index: 1;
  position: absolute;
  top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 10px;
}
.set-wall {
  transition: transform 0.3s linear;
  z-index: 999;
  background-color: #f6fbf6;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}
.set-wall--open {
  transform: translateY(100%);
}
.set__weight {
  width: 95px;
}
.set__amount {
  font-weight: 400;
  font-size: 20px;
}

.cart {
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 3fr;
}
.cart-right {
  background-color: white;
  padding: 22px;
  border-radius: 10px;
}
.cart-right-bottom {
  display: flex;
  justify-content: space-between;
}
.cart-center {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.cart-sum {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 5px;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  color: gray;
}
.cart-sum__total {
  margin-top: 10px;
  font-size: 26px;
  line-height: 36px;
  font-weight: bold;
  color: #2e2e33;
}
.cart__button {
  height: 40px;
  flex-basis: 47%;
  border-radius: 10px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: scale 50ms ease-out;
}
.cart__button--left {
  border: 1px solid gray;
  background-color: white;
}
.cart__button--right {
  border: 1px solid #2e2e33;
  background-color: #2e2e33;
  color: white;
}
.cart__button:active {
  scale: 1.05;
}

@media screen and (max-width: 1230px) {
  .roll {
    flex-basis: 100%;
  }
  .roll:nth-child(odd) {
    margin-right: 0;
  }
}

/*# sourceMappingURL=index.css.map */
