@import "src/app/styles/vars";

.wrapper {
  position: relative;
  width: 16px;
  height: 35px;
}

.container {
  z-index: 9999;
  position: absolute;
  width: 16px;
  height: 35px;
  border: 2px solid $dark;
  border-radius: 4px;
  cursor: pointer;
}

.switcher {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 1px;
  width: 14px;
  height: 14px;
  background-color: $dark;
  transition: top ease-in-out .1s;
}