@import "src/app/styles/vars";

.wrapper {
  position: relative;
  width: 20px;
  height: 40px;
}

.container {
  z-index: 1;
  position: absolute;
  width: 20px;
  height: 40px;
  border: 2px solid $dark;
  border-radius: 10px;
  cursor: pointer;
}

.switcher {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: $blue;
  transition: top ease-in-out .1s;
}